.avatar {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: transform 0.2s, border 0.2s;
    box-sizing: border-box;
    border: 2px solid transparent;
    flex-grow: 0;
    flex-shrink: 0;
    object-fit: cover;

    &:hover {
        transform: scale(1.05);
        border: 2px solid #430082;
    }
}