.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    flex-grow: 0;
    flex-shrink: 0;
    
    .name {
        text-align: center;
        font-size: 0.9rem;
    }

    .role {
        text-align: center;
        font-size: 0.9rem;
        font-weight: lighter;
        font-style: italic;
    }

    .pfp {
        width: 100px;
        height: 100px;
        object-fit: cover;
        background: var(--background);
        border-radius: 50%;
        overflow: hidden;
    }
}