.container {
    width: 100%;
    background: #1c0036;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;

    .emojis {
        overflow-y: auto;
        height: 200px;

        .emojiFlex {
            display: flex;
            flex-wrap: wrap;
            font-size: 1.8rem;
            gap: 3px;

            .emoji {
                border: 2px solid transparent;
                border-radius: 5px;
                display: block;
                width: 40px;
                height: 40px;
                position: relative;
                overflow: hidden;

                &.selected {
                    border: 2px solid #fff;
                }

                img {
                    position: absolute;
                    inset: 0;
                }
            }
        }
    }

    .preview {
        height: 30px;
        margin: 0;
        font-weight: normal;
        font-size: 1rem;
        color: #fff;
    }
}