.container {
    background: var(--background-dark);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position: absolute;
    inset: 0;
    padding-bottom: 100px;
    
    .bgImg{
        width: 100%;
        height: 420px;
        position: relative;

        .backBtn {
            color: white;
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 15;
            background: transparent;
            border: none;
            transition: transform 0.15s;
            font-size: 2rem;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
            &:active {
                transform: scale(0.9);
                color: var(--primary-selected);
            }
        }
        img {
            height: 100%;
            max-height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;            
        }
        .bgImgOverlay{
            position: absolute;
            inset: 0;
            background: linear-gradient(180deg, rgba(7, 7, 7, 1) 0%, rgba(0, 2, 33, 1) 100%);
            opacity: 0.7;
            height: 420px;
        }
        
        .coverContainer {
            position:absolute;
            top: 210px;
            left: 50px;
            width: 288px;
            height: 432px;
            border-radius: 20px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;                
            }
        }
    }

    .txtHeader {
        color: white;
        margin-left: 380px;
        .title {
            font-size: 3rem;
            font-weight: bold;
            
        }

        .txtHeaderSecLine {
            display: flex;
            gap: 10px 30px;
            flex-wrap: wrap;
            width: 70%;
        }
    }

    .btnsContainer {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        margin-left: 400px;
        max-width: 100%;
        gap: 20px;

        .btn {
                
            display: flex;
            flex-direction: row;
            width: 200px;
            height: 50px;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background: var(--primary);
            gap: 10px;

            .btnIcon svg {
                height: 30px;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
            }

            .btnText {
                color: white;
                font-size: 1.2rem;
                margin-bottom: 5px;
                font-weight: bold;
                margin-right: 10px;
                
            }

            &:hover {
                cursor: pointer;
                background: var(--primary-selected);
                transform: scale(1.1);
                filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
            }
        }

        .editBtn {
            max-width: 100px;
        }

        .watchedContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
        }
    }

    .descdeets {

        display: flex;
        flex-direction: row;
        width: calc(80% - 100px);
        margin: 100px auto 0 auto;
        gap: 100px;
        justify-content: space-between;

        .description {
            width: 70%;
            
        }

        .details {
            width: 30%      
        }
    }

    .tag {
        font-weight: bold;
    }

    .bodyTitle {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 20px;
    } 
}