.headerContainer {
    background-color: red;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 20%;
        height: 100%;	
        object-fit: cover;

    }
    .searchContainer {
        margin: 10px;
    }
}