.container {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    background: var(--background);

    .header {
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        padding: 0 10px 0 5px;

        .home {
            background: radial-gradient(50% 50% at 50% 50%, #49008e 0%,  #2e0059 100%);
            // background-color: #2e0059;
            border-radius: 50%;
            // margin-top: 10px;
            margin-right: 50px;
            z-index: 20;
            // border: 1px solid darkgray;
            padding: 2px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            .logo {
                width: 35px;
                height: 35px;
                object-fit: contain;
            }
        }
    }
}

.libraryContainer {
    position: relative;
    flex-grow: 1;
    // background: linear-gradient(145deg, #3E3E3E 0%, #29375a 100%);
    background: var(--background-dark);
    margin-left: 30px;
    border-radius: 30px 30px 0 0;
    

    // .librarySidebarContainer {
    //     position: absolute;
    //     display: flex;
    //     flex-direction: column;
    //     width: 250px;
    //     padding-right: 30px;
    //     background: linear-gradient(180deg, rgba(7, 7, 7, 0.5) 0%, rgba(0, 2, 33, 0.5) 100%);
    //     box-sizing: border-box;
    //     top: 0;
    //     bottom: 0;
    //     left: 0;
    //     flex-shrink: 0;
    //     padding-top: 30px;
    // }

    .libraryAlphaShortcuts {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -30px;
        width: 30px;
        display: flex;
        flex-direction: column;
        color: #bbb;
        overflow: hidden;
        justify-content: stretch;
        user-select: none;

        a {
            flex-grow: 1;
            position: relative;
            cursor: pointer;

            &:hover {
                color: white;
            }

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .itemsCenter {
        position: absolute;
        inset: 0;
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }


        .itemsContainer {
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            flex-wrap: wrap;
            gap: 40px 20px;
            padding: 40px 0;
            justify-content: flex-start;
            position: relative;

            & > *:first-child {
                position: absolute;
                top: 0;
            }
        }
    }
}
