.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    width: 240px;
    margin: 0;

    img {
        width: 240px;
        height: 360px;
        aspect-ratio: 2/3;
        object-fit: cover;
    }

    .title {
        font-size: 1rem;
        font-weight: bold;
        text-align: left;
        
    }
}

.container:hover {
    cursor: pointer;
    transform: scale(1.1);
}
