.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    margin: 0;
    position: relative;
    transition: transform 1.0s ease;
    
}

.container:hover {
    position: relative;
    z-index: 10;
    
    transform: scale(1.05);
}

.primaryContainer {
    color: #bbbbbb;
    img {
        width: 240px;
        height: 360px;
        aspect-ratio: 2/3;
        object-fit: cover;
    }

    .title {
        font-size: 1rem;
        font-weight: bold;
        text-align: left;
    }

    &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: white;
        

        & > img {
            border: 3px solid white;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);;
            
        }

        ~ .secondaryContainer {
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 400px;
            height: 360px;
            position: absolute;
            top: 0;
            left: 100%;
            opacity: 1;
            border-top: 3px solid white;
            border-bottom: 3px solid white;
            border-right: 3px solid white;

            box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.6);


            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 1;
            }

            .secOverlay {
                filter: blur(1px);
            }

            .secText {
                opacity: 1;
            }
        }
    }
}

.secondaryContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity 2.0s ease;

    .secOverlay {
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url(https://www.themoviedb.org/t/p/original/xKb6mtdfI5Qsggc44Hr9CCUDvaj.jpg);
        background-size: cover;
        background-position: center;
        z-index: -1;
    }

    .secText {

        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 10;
        color: white;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 20px;
        opacity: 0;

        .secTitle {
            font-weight: bold;
        }

        .secSubtitle {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            font-weight: bold;

            span {
                font-weight: normal;
                text-decoration: underline;
            }
        }

        .desc {
            width: 80%;
            text-align: center;
        }

        .length {
            font-weight: bold;
        }
    }
}
