.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
    width: 240px;
    height: 360px;
        
    .image {
        position: absolute;
        inset: 0;
        background: rgb(52, 52, 52);
    }

    .loadingTitle {
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        color: #fff;
        margin: 0;
        font-size: 1rem;
    }

    .info {
        position: absolute;
        inset: 0;
        background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 100%);
        opacity: 0;
        transition: opacity 0.2s;

        .bottom {
            display: flex;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            box-sizing: border-box;
            padding: 10px;

            .split {
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: flex-end;
                gap: 10px;
            }

            .title {
                margin: 0;
                color: #fff;
                font-size: 1rem;
                flex-grow: 1;
            }

            .rating {
                color: white;
                white-space: nowrap;
                flex-shrink: 0;
            }
        }

        .play {
            position: absolute;
            width: 70px;
            height: 70px;
            font-size: 4rem;
            border-radius: 50%;
            border: 3px solid #fff;
            color: #fff;
            background: transparent;
            left: 50%;
            top: calc(50% + 40px);
            transition: top 0.2s, transform 0.15s;
            transform: translate(-50%, -50%) scale(1);
            cursor: pointer;
            transform-origin: center;

            svg {
                position: absolute;
                top: 50%;
                left: calc(50% + 2px);
                transform: translate(-50%, -50%);
            }

            &:hover {
                transform: translate(-50%, -50%) scale(1.1);
            }
        }

        &:hover {
            opacity: 1;

            .play {
                top: calc(50% - 10px);
            }
        }
    }
}