.videoContainer {
    background: #000;
    position: absolute;
    inset: 0;

    .video {
        width: 100%;
        height: 100%;
    }

    .pointerDetecter {
        position: absolute;
        inset: 0;
        z-index: 10;
    }
}

.hiddenUi .dock {
    opacity: 0 !important;
}

.dock {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 2000px;
    height: 150px;
    border-radius: 30px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 11;


    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: #fff;
        opacity: 0.3;
        transition: opacity 0.2s;
        z-index: -1;
    }

    &:hover::before {
        opacity: 0.5;
    }

    .progressBar {
        width: 100%;
    }

    .dockButtons {
        display: flex;
        gap: 20px;
        

        & > button {
            color: #430082;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            border: none;
            background: none;
            cursor: pointer;

            &:hover {
                
                color: #fff;
            }
            
        }
    }
}