.container {
    position: fixed;
    inset: 0;
    display: flex;
}

.content {
    flex-grow: 1;
    position: relative;
}

.sidebarContainer {
    width: 0;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    transition: width 0.4s;

    &.open {
        width: 400px;
    }

    .sidebar {
        width: 400px;
        height: 100%;
        border: 6px solid #3f0249;
        box-sizing: border-box;
        background: #3f0249;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;

        .chat {
            background: linear-gradient(180deg, rgba(97,35,108,1) 0%, rgba(216,185,221,1) 100%);
            flex-grow: 1;
            position: relative;

            .chatFeed {
                position: absolute;
                inset: 0;
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            .chatbox {
                position: absolute;
                bottom: 20px;
                left: 20px;
                right: 20px;
                outline: none;
                font-size: 1.2rem;
                padding: 5px;
                border: 1px solid black;
                border-radius: 5px;
            }
        }
    }
}

.popout {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    width: 100px;
    height: 350px;
    background: #3f0249;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}