.container {
    position: fixed;
    inset: 0;
    display: flex;
}

.content {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    isolation: isolate;
    background: var(--background-dark);
}

.sidebarContainer {
    width: 0;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    transition: width 0.4s;

    &.open {
        width: 400px;
    }

    .sidebar {
        width: 400px;
        height: 100%;
        border-left: 6px solid var(--background);
        box-sizing: border-box;
        background: var(--background);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;

        .sidebarTop {
            height: 50px;
            flex-grow: 0;
            flex-shrink: 0;
            padding-top: 5px;

            .roomCode {
                height: 50px;

                h4 {
                    margin: 0;
                    color: #808080;
                    font-weight: normal;
                }

                h2 {
                    margin: 0;
                    color: #fff;
                }
            }
        }

        .chat {
            flex-grow: 1;
            position: relative;
          
            .chatFeed {
                padding: 10px 10px 60px 10px;
                position: absolute;
                inset: 0;
                box-sizing: border-box;
                overflow-y: scroll;

                .chatMessages {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    min-height: 100%;
                    justify-content: flex-end;
                }
            }
          
            .chatInput {
                position: absolute;
                bottom: 10px;
                left: 10px;
                right: 16px;

                .chatBox {
                    font-size: 1.2rem;
                    padding: 5px;
                    border: 1px solid black;
                    outline: none;
                    border-radius: 5px;
                    width: 100%;
                    box-sizing: border-box;
                }

                .emojiSelector {
                    position: absolute;
                    bottom: 45px;
                    left: 0;
                    right: 0;
                }
            }
        }
          
    }
}

.popout {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    width: 100px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}