body {
    background-color: pink;
    margin: 0;
    padding: 0;
}

.container {
    .underline {
        text-decoration: underline;
    }
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}